@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300;400;500;600;700&display=swap');

body {
  background: #f2f2f2;
  color: black;
  font-family: 'Kanit', sans-serif;
}

nav {
  /* margin: 10px auto;
  padding: 10px 0; */
  display: flex;
  align-items: center;
  background-color: black;
  justify-content: space-between;
}

nav a {
  color: white;
  text-decoration: none;
  margin: 0;
}

nav div {
  color: white;
  margin: 0 10px;
}

nav a:hover {
  color: #f2f2f2;
}

footer {
  display: block;
  text-align: center;
  padding: 10px 0;
  color: grey;
  position: fixed;
  font-size: 8px;
  bottom: 0;
  width: 100%;
}

/* h5 {
  font-size: 1.5em;
  font-weight: lighter;
} */

hello {
  display: flex;
  align-items: center;
  justify-content:space-evenly ;
}